################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Business/obj
/.vs/ReCapProject
/ConsoleUI/obj
/DataAccess/obj
/Entities/obj
/Business/bin/Debug/netstandard2.0
/ConsoleUI/bin/Debug/netcoreapp3.1
/Core/obj
/DataAccess/bin/Debug
/Entities/bin/Debug/netstandard2.0
/Core/bin/Debug/netstandard2.0
